@import url("color.css");
html {
    position: relative;
    min-height: 100%;
}
body {
    color: var(--grey);
}
a, .hash-tag {
    text-decoration: none !important;
    color: var(--color);
}
a:hover, .hash-tag:hover {
    color: var(--dark);
}
ul {
    list-style: none;
}
.color-dynamic {
    color: var(--color);
}
.btn, .pointer {
    cursor: pointer;
}
.btn:focus {
    box-shadow: none;
}
.btn-dynamic {
    background-color: var(--color);
    border-color: var(--color);
    color: #fff;
}
.btn-dynamic:hover {
    background-color: var(--dark);
    border-color: var(--dark);
}
.btn-outline-dynamic {
    color: var(--color);
    background-color: transparent;
    background-image: none;
    border-color: var(--color);
}
.btn-outline-dynamic:hover {
    color: #fff;
    background-color: var(--color);
}
.btn:disabled {
    cursor: no-drop;
}
.blog-img-div {
    height: 283.07px;
    overflow: hidden;
    position: relative;
}
.blog-img-div img {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.input-group-addon {
    background-color: var(--grey);
    color: #fff;
}
.aligner {
    cursor: pointer;
    top: 0rem;
    left: 0rem;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
}
.aligner:hover {
    background: rgba(25, 25, 25, .5);
}
.aligner:hover h4 {
    color: #fff;
}
// START v-tooltip
.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 0.25rem;
    padding: 3px 8px;
    text-align: center;
  }

  .tooltip-arrow {
    display: none;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
.tooltip-danger {
    .tooltip-inner {
      background: var(--danger) !important;
    }
}
// END v-tooltip

// START vue typer, https://cngu.github.io/vue-typer/
.vue-typer {
    font-family: monospace;
}
.vue-typer .custom.char {
  color: #fff;
}
.vue-typer .custom.caret {
  width: 5px;
  background-color: #fff;
}
// END vue typer

// http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.5em, $lineCount: 3, $bgColor: white);
}
// END multiline ellipsis
