// $color: #28a745;
// $dark: darken($color,15%);
:root {
    --color: #28a745;
    --dark: #02811f;
}
a {
    text-decoration: none !important;
}
a:hover {
    color: var(--dark);
}
ul {
    list-style: none;
}
.btn, .pointer {
    cursor: pointer;
}
.btn:focus {
    box-shadow: none;
}
html {
    position: relative;
    min-height: 100%;
}
.color-dynamic {
    color: var(--color);
}
.btn-dynamic {
    background-color: var(--color);
    border-color: var(--color);
    color: #fff;
}
.btn-dynamic:hover {
    background-color: var(--dark);
    border-color: var(--dark);
}
.btn-outline-dynamic {
    color: var(--color);
    background-color: transparent;
    background-image: none;
    border-color: var(--color);
}
.btn-outline-dynamic:hover {
    color: #fff;
    background-color: var(--color);
}
